
# Postprocessing outputs / local data
#postprocessing/data/
#postprocessing/*.xlsx

# VIM swap files not tracked
*.swp

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Generated CALPHAD data files
*.h5
generate_CALPHAD_surrogate/compositions_validated_feasible.h5
